[submodule "PulseEffects-Presets"]
	path = PulseEffects-Presets
	url = https://github.com/JackHack96/PulseEffects-Presets.git
[submodule "aur/arch-xorg-server"]
	path = aur/arch-xorg-server
	url = https://gitlab.freedesktop.org/aplattner/arch-xorg-server.git
[submodule "aur/bless"]
	path = aur/bless
	url = https://aur.archlinux.org/bless.git
[submodule "aur/intel-undervolt"]
	path = aur/intel-undervolt
	url = https://aur.archlinux.org/intel-undervolt.git
[submodule "aur/lightdm-slick-greeter"]
	path = aur/lightdm-slick-greeter
	url = https://aur.archlinux.org/lightdm-slick-greeter.git
[submodule "aur/ncurses5-compat-libs"]
	path = aur/ncurses5-compat-libs
	url = https://aur.archlinux.org/ncurses5-compat-libs.git
[submodule "aur/nvidia-beta"]
	path = aur/nvidia-beta
	url = https://aur.archlinux.org/nvidia-beta.git
[submodule "aur/nvidia-utils-beta"]
	path = aur/nvidia-utils-beta
	url = https://aur.archlinux.org/nvidia-utils-beta.git
[submodule "aur/optimus-manager"]
	path = aur/optimus-manager
	url = https://aur.archlinux.org/optimus-manager.git
[submodule "aur/virtualbox-ext-oracle"]
	path = aur/virtualbox-ext-oracle
	url = https://aur.archlinux.org/virtualbox-ext-oracle.git
